* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.instagram-phone-col {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.instagram-phone {
    height: 50rem;
}

.instagram-right-col {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}

.instagram-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: #ffffff;
    border: 1px solid lightgray;
    width: 100%;
    padding: 1.3rem 0;
}

.instagram-group:first-child {
    min-height: 19rem;
}

.instagram-logo {
    height: 3rem;
}

.instagram-pic {
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 50%;
    height: 6rem;
}

.continue {
    background-color: #0095F6;
    color: #ffffff;
    padding: 8px;
    border-radius: 4px;
}

.letra-cinza {
    color: rgb(160, 160, 160);
}

.letra-azul {
    color: #0095F6;
    margin-top: 1rem;
}

.get-the-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.download {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.app-download {
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app-download:nth-child(1) {
    background-image: url("images/apple-button.png");
}

.app-download:nth-child(2) {
    background-image: url("images/googleplay-button.png");
}

/*tablet*/

@media (max-width: 1024px){
    .container {
        width: 90%;
    }
}

/* celular */

@media (max-width: 650px) {
    .container {
        width: 90%;
    }
    
    .instagram-phone-col {
        display: none;
    }

    body {
        background-color: #ffffff;
    }

    .instagram-group {
        border: 1px solid transparent;
    }

    .instagram-right-col {
        width: 100%;
    }
}